#myVideo{
	width: 100%;
	height: 30%;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.logo{
	margin-top: 100px;
	height: 100px;
	width: 500px;
	
}

.style1{
	text-align: center;
	margin-top: 100px;
}

.style2{
	text-align: center;
}

.desc{
	text-indent: 15px;
}

nav{
	margin-top: 100px;
	background-color: transparent;
	text-indent: 65%;
}

li{
	color: yellow;
	display: inline;
	margin: 2.5%;
}

*{
	box-sizing: border-box;
}

.container{
	max-width: 1200px;
	max-height: 500px;
	margin: auto;
	background: cornsilk;
	overflow: auto;
	
}

.container2{
	max-width: 1200px;
	max-height: 300px;
	margin: auto;
	background: moccasin;
	text-align: center;
}


	
.gallery{
	margin: 60px;
	border:5px solid black;
	float: left;
	width: 450px;
	font-size: large;
	border-radius: 30px;
}

.gallery img{
	width: 100%;
	height: auto;
	border-radius: 25px;
}

body{
	background-color: lightyellow;
}